<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


	<!--读取db.properties文件  -->
	<context:property-placeholder location="classpath:db.properties"/>

		<!--1.将连接池放入spring容器 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="5" />
	</bean>

	<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  -->

	<!--mybatis的工厂  -->
	<bean name="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--依赖注入连接池：ComboPooledDataSource  -->
		<property name="dataSource" ref="dataSource"></property>
		<!--依赖注入核心配置文件的位置：sqlMapConfig.xml  -->
		<!--configLocation:配置位置  -->
		<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
	</bean>
	
	<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  -->
	
	
	<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  -->
	
	<!--Mapper动态代理开发  -->
	<!-- <bean name="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	
		依赖注入mybatis的工厂sqlSessionFactory 
		<property name="sqlSessionFactory" ref="sqlSessionFactoryBean"></property>
		
		依赖注入UserMapper 
		<property name="mapperInterface" value="com.itheima.mybatis.mapper.UserMapper"></property>
		
	</bean> -->
	
	<!--Mapper动态代理开发 扫描 -->
	<!--MapperScannerConfigurer:映射扫描配置器 -->
	<!--basePackage:基础包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.itheima.mybatis.mapper"></property>
	</bean>
	
</beans>